.App{
  padding: 0 15px;
}
ul.header{
  display: flex;
  justify-content: space-between;
}
ul.header li{
  display: block;
  width: 18%;
  margin: 0 1%;
  padding: 12px;
  text-align: center;
}
div.wrapper{
  display: flex;
}
div.wrapper #sidebar{
  width: 12%;
}
.equation{
  margin: 50px auto 10px;
  text-align: center;
}